<div class="mb-6 pt-3 rounded bg-gray-200 {{#if error}}border border-red-500{{/if}}" form={{form}}>
  <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="{{id}}">{{label}}</label>
  <select id={{id}} name={{name}} required class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 focus:border-purple-600 border-gray-300 transition duration-500 px-3 pb-3 ">
    <option disabled selected>-</option>
    {{#each listado}}
      <option value={{this}}>{{this}}</option>
    {{/each}}
  </select>
</div>